.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.App .one {
  width: 500px;
  background: rgb(255, 187, 0);
  margin: 5px auto;
  padding: 10px;
}

.App .two {
  width: 500px;
  background: rgba(217, 255, 0, 0.835);
  margin: 5px auto;
  padding: 10px;
}

.App .three {
  width: 100%;
  background: rgba(30, 255, 0, 0.835);
  margin: 5px auto;
  padding: 10px;
}

.App .four {
  width: 500px;
  background: rgba(0, 204, 255, 0.835);
  margin: 5px auto;
  padding: 10px;
}

.App .five {
  width: 500px;
  background: rgba(225, 0, 255, 0.835);
  margin: 0 auto;
  padding: 10px;
}